@page
@model ABLLSP.Pages.Shahar.IndexModel

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShaharMaster[0].PrantMaster.PrantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShaharMaster[0].ShaharName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShaharMaster[0].ShaharInfo)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ShaharMaster[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShaharMaster[0].UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShaharMaster[0].UpdatedTime)
            </th>
            <th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ShaharMaster) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrantMaster.PrantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShaharName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShaharInfo)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ShaharId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ShaharId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ShaharId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
