@page
@model ABLLSP.Pages.ABLLSPMember.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

@*<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AbllspmemberMaster[0].MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbllspmemberMaster[0].AbllspdesignationMaster.DesignationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbllspmemberMaster[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbllspmemberMaster[0].ContactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbllspmemberMaster[0].EmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbllspmemberMaster[0].PhotoUrl)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.AbllspmemberMaster[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbllspmemberMaster[0].UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbllspmemberMaster[0].UpdatedTime)
            </th>*@
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AbllspmemberMaster) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbllspdesignationMaster.DesignationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoUrl)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedTime)
            </td>*@
            @*<td>
                <a asp-page="./Edit" asp-route-id="@item.MemberId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MemberId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MemberId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
